<%- include('partials/header.ejs') %>
<h1>Home</h1>
<p><%- homecontent %></p>

<% numPosts.forEach(function(post) { %>
  <h1><%= post.title %></h1>
  <p><%= post.content.substring(0, 99) + " ..." %> <a href="/posts/<%= post._id %>">Read More</a></p>
<% }); %>

<form action="/composebtn" method="post">
  <button type="submit" class="btn btn-success">Compose New Blog</button>
</form>

<%- include('partials/footer.ejs') %>
